body {
	background-color: #41f480;
	background-size: 100%;
	background-attachment: fixed;
	color: white;
	font-family: 'Montserrat', sans-serif;
	
}

h2 {
	display: inline;
}

#start {
	margin: 10px;
}