body {
	background-image: url(http://unsplash.com/photos/9CfHPa6YM4Y/download?force=true);
	background-size: 100%;
	background-attachment: fixed;
	color: white;
	font-family: 'Montserrat', sans-serif;
	
}